@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  @apply bg-dark text-light;
  font-family: "Inter", sans-serif;
  height: 100vh;
  /* width: 100%; */
  
}

h1, h2, h3 {
  @apply font-sans;
  
}

a {
  @apply transition-transform duration-200 ease-in-out;
}

button {
  @apply transition-transform duration-300 hover:scale-110;
}
